html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	align-items: center;
	font-family: 'Amatic SC', cursive;
	font-family: 'Architects Daughter', cursive;
	font-family: 'Charis SIL', serif;
}


img { 
	border: 15px solid transparent
}

.img-thumbnail { 
	border: 15px solid transparent
}

/*  .img::after {
	content: "";
	background-color: #edf7ff;
	width: 100%;
	z-index: -1;
	position: relative;
	height: 100%;
	top: 70px;
	left: 70px;
  }
  */


  .team {
	border: 1px solid black;
	background-color: #ffffff;
	position: relative;
		top: 10px;
		left: -10px;

	.teampic {
		position: relative;
		top: -10px;
		left: 10px;
  		}

	}



a, a:focus, a:active, button {
	/* Keeps the pseudo-element contained to the element */
	position: relative;
	color:#000000;
	text-decoration: none;
  	}

  	a:hover::before, button:hover::before {
		transform: scaleX(1)
  	}

	a::before, button::before {
		background: #c9dbe9;
		content: "";
		inset: 0;
		position: absolute;
		transform: scaleX(0);
		transition: transform .5s ease-in-out;
		z-index: -1;
	}


	href {
		color:#000000;
	  }
	
	
	a:hover {
		color:#c9dbe9
			}




			/* End of Page styling */
			
			/* Simple button styling -- No animation */
			.simple {
			  font-family: inherit;
			  font-size: 16px;
			  font-weight: 200;
			  letter-spacing: 1px;
			  padding: 13px 50px 13px;
			  outline: 0;
			  border: 1px solid black;
			  cursor: pointer;
			  position: relative;
			  background-color: rgba(255, 255, 255, 0);
			}
			
			.simple::after {
			  content: "";
			  background-color: #c9dbe9;
			  width: 100%;
			  z-index: -1;
			  position: absolute;
			  height: 100%;
			  top: 7px;
			  left: 7px;
			
			}
			
			.simple:hover {
				color:#c9dbe9;
			}
			/* End of Simple Button */
			





@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Architects+Daughter&family=Charis+SIL:wght@700&display=swap');




/*
.crop {

	height: 250px;
	overflow: hidden;
	border: none;
}

.crop img {

	height: 500px;
	margin-top: -120px;
}
*/




.navbar {

    display: flex;
    justify-content: space-between;

	padding: 15px 50px 15px;
	letter-spacing: 1px;
  }

  .nav-links {
    display: flex;
  }

.navbar li {
    display: inline-block;
    position: relative;
    cursor: pointer;
	color: #c9dbe9;
  }

.navbar li a {
    color: #000;
  }

  .navbar li a:hover {
    color:#000000;
	position: relative;
  }

  .navbar-brand {
    padding: 10px;
  }

  .navbar-brand:hover {
    color:#000000;
	position: relative;
  }

  [class*="col-"] {
    background-clip: padding-box;
    align-items: center;
	padding: 15px 50px 15px;
}








h1 {
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}



span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.9s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.9s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.9s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.9s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}


@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}


















/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/


#clouds{
	padding: 100px 0;
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	text-align: center;
	overflow: hidden;
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 200px; height: 60px;
	background: #fff;
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	position: fixed; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 200px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x3 {
	left: -250px; top: -200px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x4 {
	left: 470px; top: -250px;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x5 {
	left: -150px; top: -150px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}